{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": [
    "transform-object-assign",
    "transform-class-properties",
    "transform-export-extensions",
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "only": ["src"],
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-pure-class-to-function"
      ]
    }
  }
}
